.fa-check {
  color: green;
}
.fa-times{
  color: red;
}
.fa-check:hover{
  cursor: pointer;
}
.fa-times:hover{
  cursor: pointer;
}
.loader-wrapper{
  height: 100px;
}
.downloadbtn{
  width: 100%;
  color: white;
  background-color: #743ad5;
  text-decoration: none;
  padding: 10px;
  
}
.user-dash{
    color: white;
    height: 100%;
    text-align: center;
}
.user-dash h1 {
    font-size: 40px;
    text-shadow: 2px 2px 0px #c31432;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  .user-dash p {
      font-size: 20px;
       color: rgb(201, 201, 201);;
  }
  .user-dash p span {
      color: #c31432;
  }
  .user-dash p button {
    background-color: transparent;
    color: white;
    padding: 8px 20px;
    margin-left: 25px;
    font-size: 16px;
    border-radius: 5px white;
    border: 1px solid white;
    cursor: pointer;
  }
  .user-dash p button:hover {
    background-color: white;
    color: black;
  
  }  
.tabs-section {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 30px;
    overflow: auto;
}
@media (max-width: 615px) {
  .tabs-section{
    width: 95%;
  }
  .tab .fa {
    display: none;
  }
}

.tab{
  background: linear-gradient(to left, #743ad5, #d53a9d);
  font-size: 20px;
  padding: 10px 20px;
  
  border : 1px solid white;
  margin: 0 5px;
  transition: 0.4s ease-out;
  cursor: pointer;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d );
  color: white;
}
.inactive {
  background: transparent;
  color: rgb(201, 201, 201);
  border-width: 1px;
}

.tab-content {
    width: 80%;
    margin: 30px auto;
    
}
.fa{
  margin-right: 10px;
  size: 10px;
}
.fa-university {
  color:  orange;
}
.fa-ban {
  color: red;
}
.fa-info {
  color: blue;
}

.college {
  width: 60%;
  margin: 10px auto;
  background-color: black;
  padding: 1px 0;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
@media (max-width: 1000px) {
  .college{
    width: 80%;
  }
  .top h1 {
    font-size: 30px;
  }
}

.college h2{
  font-size: 1.3rem;
  margin-left: 30px;
}
.search-box{
  width: 40%;
   margin: 20px auto;
}
@media (max-width: 615px) {
  .college{
    width: 100%;
  }
  .college h2{
    font-size: 15px;
  }
  .top h1 {
    font-size: 23px;
  }
  .search-box{
    width: 100%;
     margin: 20px auto;
  }
}

.unverified-header h2{
  font-size: 1.3rem;
  margin-left: 30px;
}
.unverified-header .fa{
  cursor: pointer;
  margin-left: auto;
  margin-right: 30px;
  color: red;
}
.college .fa {
  cursor: pointer;
  margin-left: auto;
  margin-right: 30px;
  color: red;
}
 .isMahe {
  color: #e8590c;
}

.add-college button {
  background-color: blue;
    color: white;
    padding: 8px 20px;
   margin: 10px auto;
    font-size: 16px;
    border-radius: 5px ;
    border: none;
    cursor: pointer;
}
.add-college{
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: black;
  border-radius: 10px;
}
.add-college label {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}



.unverified{
  width: 60%;
  margin: 10px auto;
  background-color: black;
  padding: 1px 0;
  border-radius: 20px;
}
@media (max-width: 1000px) {
  .unverified{
    width: 80%;
  }

}
@media (max-width: 615px) {
  .unverified{
    width: 100%;
  }
}
.unverified-header{
  display: flex;
  align-items: center;
  text-align: left;
}
.unverified-content{
  width: 60%;
  margin: 0px auto;
  background-color: black;
}
.unverified-header h2{
  color: red;
}
.unverified-header p{ margin: 0 auto;
font-size: 0.9rem;
}
.unverified-header h2 p{
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.not-extended{
  display: none;

}
.user-dets{
  display: flex;
  justify-content: space-around;
}
.verify {

  
  background-color: green;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.reject {
  background-color: red;
}

.add-college-btn{
  background-color: black;
  width: 250px;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 10px;
}

.start-label {
  padding-left: 0;
}
.user-left, .user-right{
  text-align: left;
}
.user-dets .fa{
  color: rgba(255, 0, 0, 0.7);
}
.btns{
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.doc-img {
display: flex;
justify-content: center;
width: 100%;
overflow: auto;
margin-bottom: 20px;
}
.doc-img div img {
  height: 200px;
  margin: 0 10px;
}

.top {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  
}


.top img {
  height: 100%;
  margin-right: 20px;
 
}